[Desktop Entry]
Name=Klia Store
Comment=Flatpak application store
Exec=klia-store
Icon=com.gatorand.klia-store
Type=Application
Categories=System;
Terminal=false
StartupNotify=true
