[Desktop Entry]
Name=Klia Store
Comment=Flatpak application store
Exec=klia-store
Icon=io.github.N3kosempai.klia-store
Type=Application
Categories=System;
Terminal=false
StartupNotify=true
